.btnStyle {
    height: 25px;
    padding-top: 8px;
    padding-bottom: 19px;
    margin: 10px 0;
    background-color: #409eff;
    color: #ffffff;
  }
  .routeColor {
    color: #ffffff;
    text-align: center;
  }
  .titleLinkStyle {
    font-size: 18px;
    color: steelblue;
    text-decoration: underline;
  }
  .el-form-item {
    margin-bottom: 2px;
  }