* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: PingFang SC;
  }
  #main {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .lostDetails {
    height: 100vh;
    overflow-x: hidden;
  }